
body{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(87, 92, 97);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    align-items: center;
}
img{
    width: 100%;
}
nav{
    background-color: aliceblue;
    padding: 10px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
nav ul  li{
    margin-bottom: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #b99595;
    display: block;
    padding: 5px;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: rgb(226, 221, 231);
}
#logo{
    width: 50px;
    margin: auto;
}
#quienesSomos img{
    width: 30%;
}
.submenu{
    display: none;
    position: absolute;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
nav ul li:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
    padding: 5px;
}